#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  color: #ffffff;
}

html, body {
  margin: 0;
  background: linear-gradient(to right, #14b7d0, #1513b4);
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #252525;
}

.big {
  font-size: 2em;
  font-weight: bold;
  color: #ffeb3b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section {
  color: #333333;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 1.5em auto;
}

button {
  background: linear-gradient(to right, #a3200f, #630820);
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  padding: 0.75em 1.5em;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow .3s, transform .3s;
  font-weight: bold;
  margin: 0.75em;
}

button:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.token-input {
  font-family: monospace;
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 8ch;
  text-align: right;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffeb3b);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read-the-docs {
  color: #ffeb3b;
  font-style: italic;
}
